@use "../../sass/resources"as *;

// Regular button
.horizontal-slider-wrapper {
  position: relative;
  margin: 50px auto;
  max-width: 1237px;
  border-top: 20px solid var(--orange-200);
  border-left: 2px solid var(--orange-200);
  border-right: 2px solid var(--orange-200);
  border-bottom: 2px solid var(--orange-200);
  .horizontal-slider {
    display: block;
    list-style: none;
    li {
      display: block;
      width: 100%;
      padding: 40px 60px;
      h3 {
        .index {
          margin-right: 2rem;
        }
        color: var(--bleu-500);
        margin-bottom: 113px;
        margin-top:0;
      }
      .slide-content {
        max-width: 487px;
        margin-left: auto;
        margin-right: 74px;
        margin-bottom: 195px;
        p {
          color: var(--bleu-500);
          font-size: 18px;
          line-height: 26px;
          letter-spacing: 0.06em;
        }
      }
    }
  }
  .graphics {
    position: absolute;
    top: 169px;
    .g-1 {
      position:relative;
      .circle {
        display: block;
        position: absolute;
        left:165px;
        width: 249px;
        height: 249px;
        border-radius: 50%;
        &.c-1 {
          background-image: radial-gradient(circle at bottom right,
            var(--orange-200) -20%,
            var(--orange-500) 80%);
          transform : translate3d(-30px,0,0);
          z-index:1;
        }
        &.c-2 {
          border : 1px solid var(--bleu-500);
          transform : translate3d(0,0,0);
          z-index:2;
        }
        &.c-3 {
          border : 1px solid var(--bleu-500);
          transform : translate3d(30px,0,0);
          z-index:3;
        }
      }
    }
  }
  .nav {
    position: absolute;
    z-index: 2;
    width: 190px;
    display: flex;
    justify-content: space-between;
    bottom: 40px;
    right: 60px;
    .cta-arrow {
      &.cta-arrow-prev {}
      &.cta-arrow-next {
        transform: rotate(180deg);
      }
    }
  }
  @media(max-width: $media-medium) {}
}