@use "../../sass/resources"as *;

.cta-block {
  .cta {
    position: relative;
    display: block;
    z-index: 0;
    overflow: hidden;
    width: fit-content;
    background: #efeae7;
    box-shadow: 30px 30px 60px #cbc7c4,
             -30px -30px 60px #ffffff;
    border-radius: 10px;
    &.align-left {
      margin-left: 0;
      margin-right: auto;
    }
    &.align-center {
      margin-left: auto;
      margin-right: auto;
    }
    &.align-right {
      margin-right: 0;
      margin-left: auto;
    }
    a {
      padding: 18px 28px;
      border: 1px solid #e86d0857;
      transition: color 300ms ease;
      border-radius: 10px;
      display: block;
      
     
      .shape {
        display: block;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        background-color: var(--orange-500);
        position: absolute;
        z-index: 0;
        top: calc(50% - 200px);
        left: calc(50% - 200px);
        transform: scale(0);
        transition: transform 300ms ease;
      }
      .text {
        position: relative;
        z-index: 1;
        font-family: 'Basier-circle-bold';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        color: var(--orange-500);
        letter-spacing: 1px;
      }
      &:hover {

        .shape {
          transform: scale(1);
        }
        .text {
          color: var(--white);
        }
      }
      
    }
  }
}

@media(max-width: $media-medium) {
    .cta-block {
      .cta {
        &.align-right {
          margin: 0 auto;
         }
      }
    .text {
      font-size: 14px;
      line-height: 18px;
    }
  }
}