@use "../resources" as *; //should also load resources
@use "base-layout";
/*--------------------------------------------------------------
# Panel Left
--------------------------------------------------------------*/

//hide menu button unless there is something inside the left panel
#panel-left:empty ~ .panel-left-toggle, #panel-left:empty ~ #page .panel-left-toggle {
	display: none;
}

//if site top is in container, add room for button only when necessary
@media (max-width: $media-container + $gap) {
	#panel-left:not(:empty) ~ .site .site-top .container {
		padding-left: 52px;
	}
}

//if site nav is full width, add room for sidebar button always, if its visible
#panel-left:not(:empty) ~ .site .site-top .container-fluid {
	padding-left: 52px;
}

//when there is only a logo, make it centered wether left or right or both buttons are showing
@media(max-width: $media-nav) {
	.site-top .container, .site-top .container-fluid {
		padding: 0 52px;
	}
}


#panel-left {
	@extend .hide-scroll;
	overflow: auto;
  	border-radius: 50%;
	width:100px;
	height:100px;
	transition-duration: 2s;
	transform: scale(0);
	position:absolute;
	top:0;
	left:0;
}

.menu-open #panel-left, #panel-left.open {

	flex-basis: var(--panel-left-width);
	flex-shrink: 0;
	transform: scale(1);
	transition-duration: 2s;
	border-radius: 0;
	width: 100vw;
    height: 100vh;
	position:absolute;
	top:0;
	left:0;
}

//if left panel starts open, leave open until mobile, and hide button till mobile
@media(min-width: $media-nav) {
	#panel-left.stay-open {
		flex-basis: var(--panel-left-width);
		flex-shrink: 0;
		transform: translate(0, 0);

		& ~ .panel-left-toggle, & ~ .site .panel-left-toggle {
			display: none;
		}
	}
}

//panel becomes absolute
@media(max-width: $panel-left-absolute) {
	#panel-left {
		position: absolute;
		height: 100%;
		left: 0;
		transform: translate(-100%, 0);
	}
}


/*------- Panel Left Button --------*/
.panel-left-toggle {
	position: fixed;
	border: none;
	box-shadow: none;
	z-index: 99;
	cursor: pointer;
	will-change: transform;
	line-height: 0;
	right: 5%;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0 15px;
	outline: none;
	transition: all .5s;
	background: transparent;

	&:focus {
		outline: none;

	}
}

.site-top .panel-left-toggle {
	height: 100%;
}

*, *::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  }
  
  *::after, *::before {
	content: '';
  }

.cd-nav-trigger {
	position: fixed;
    display: inline-block;
	top: 30px;
	right: 5%;
	height: 44px;
	width: 44px;
	z-index: 5;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	z-index:99999;
	box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.3), -7px -7px 14px rgba(255, 255, 255, 0.3);
    border-radius: 50%;
  }

  .cd-nav-trigger .cd-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	display: inline-block;
	width: 18px;
	height: 2px;
	background-color: black;
	z-index: 10;
  }

  .cd-nav-trigger .cd-icon::before, .cd-nav-trigger .cd-icon:after {
	/* upper and lower lines of the menu icon */
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	/* apply transition to transform property */
	-webkit-transition: -webkit-transform .3s;
	-moz-transition: -moz-transform .3s;
	transition: transform .3s;
  }

  .cd-nav-trigger .cd-icon::before {
	-webkit-transform: translateY(-6px) rotate(0deg);
	-moz-transform: translateY(-6px) rotate(0deg);
	-ms-transform: translateY(-6px) rotate(0deg);
	-o-transform: translateY(-6px) rotate(0deg);
	transform: translateY(-6px) rotate(0deg);
  }

  .cd-nav-trigger .cd-icon::after {
	-webkit-transform: translateY(6px) rotate(0deg);
	-moz-transform: translateY(6px) rotate(0deg);
	-ms-transform: translateY(6px) rotate(0deg);
	-o-transform: translateY(6px) rotate(0deg);
	transform: translateY(6px) rotate(0deg);
  }

  .cd-nav-trigger::before, .cd-nav-trigger::after {
	/* 2 rounded colored backgrounds for the menu icon */
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	height: 100%;
	width: 100%;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
  }

  .cd-nav-trigger::before {
	background-color: #cceaeb;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	transition-delay: 0.4s;
  }

  .cd-nav-trigger::after {
	background-color: #EFEAE7;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	transition-duration: 0s;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	transition-delay: 0s;
  }

  .cd-nav-trigger.close-nav::before {
	/* user clicks on the .cd-nav-trigger element - 1st rounded background disappears */
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
  }

  .cd-nav-trigger.close-nav::after {
	/* user clicks on the .cd-nav-trigger element - 2nd rounded background appears */
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	transition-delay: 0.4s;
  }

  .cd-nav-trigger.close-nav .cd-icon {
	/* user clicks on the .cd-nav-trigger element - transform the icon */
	background-color: rgba(255, 255, 255, 0);
  }

  .cd-nav-trigger.close-nav .cd-icon::before, .cd-nav-trigger.close-nav .cd-icon::after {
	background-color: black;
  }

  .cd-nav-trigger.close-nav .cd-icon::before {
	-webkit-transform: translateY(0) rotate(45deg);
	-moz-transform: translateY(0) rotate(45deg);
	-ms-transform: translateY(0) rotate(45deg);
	-o-transform: translateY(0) rotate(45deg);
	transform: translateY(0) rotate(45deg);
  }

  .cd-nav-trigger.close-nav .cd-icon::after {
	-webkit-transform: translateY(0) rotate(-45deg);
	-moz-transform: translateY(0) rotate(-45deg);
	-ms-transform: translateY(0) rotate(-45deg);
	-o-transform: translateY(0) rotate(-45deg);
	transform: translateY(0) rotate(-45deg);
  }

  .burger-menu-container {
	width: 100vw;
    display: inline-block;
    height: 0;
    flex-basis: 100%;
    z-index: 99;
    margin: 0 auto;
    text-align: center;
		.site-logo {
		z-index: 999;
		position: relative;
		max-width: 50%;
		background-color: #EFEAE7;
    	margin: 0 auto 70px auto;
		}
  .menu {
	/* by default it's hidden */
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	padding: 80px 5%;
	z-index: 3;
	background-color: #cceaeb;
	overflow: auto;
	/* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
	-webkit-overflow-scrolling: touch;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s, opacity 0.3s;
	-moz-transition: visibility 0s, opacity 0.3s;
	transition: visibility 0s, opacity 0.3s;
  }

  .menu li {
	margin: 1.6em 0;
	text-align: center;
	text-transform: capitalize;
  }

  .menu a {
	font-size: 20px;
	font-size: 3rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	transition: color 0.2s;
  }

  .no-touch .menu a:hover {
	color: #ffffff;
  }
  
  .menu.fade-in {
	/* navigation visible at the end of the circle animation */
	visibility: visible;
	opacity: 1;
  }

  @media only screen and (min-width: 768px) {
	.menu li {
	  margin: 2em 0;
	}
	.menu a {
	  font-size: 28px;
	  font-size: 3rem;
	}
  }
  @media only screen and (min-width: 1170px) {
	.menu li {
	  margin: 1.6em 0;
	  .menu-item-link {
		max-width: 450px;
    	margin: 0 auto;
	  }
	}
	.menu a {
	  font-size: 32px;
	  font-size: 6rem;
	  max-width: fit-content;
	  margin: 0 auto;
	  overflow: hidden;
      display: inline-block;
	  position:relative;
	}
	.menu a.custom-logo-link {
		font-size: 32px;
		font-size: 6rem;
		max-width: fit-content;
		margin: 0 auto;
		overflow: hidden;
		display: inline-block;
		position:relative;
		background-color: #cceaeb;
		width:135px;
	  }
	.menu a:not(.custom-logo-link)::before {
		position: absolute;
		content: "";
		bottom: 0;
		width: 100%;
		height: 1px;
		display: block;
		background-color: #525c60;
		transform: translate3d(-100%, 0, 0);
		transition: transform .3s ease;
	}

	.menu a:hover::before {
		transform: translate3d(0, 0, 0);
	}
	
  }
  
  .cd-overlay-nav, .cd-overlay-content {
	/* containers of the 2 main rounded backgrounds - these containers are used to position the rounded bgs behind the menu icon */
	position: fixed;
	top: 18px;
	right: 5%;
	height: 4px;
	width: 4px;
	-webkit-transform: translateX(-20px) translateY(20px);
	-moz-transform: translateX(-20px) translateY(20px);
	-ms-transform: translateX(-20px) translateY(20px);
	-o-transform: translateX(-20px) translateY(20px);
	transform: translateX(-20px) translateY(20px);
  }
  .cd-overlay-nav span, .cd-overlay-content span {
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: transform;
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
  }
  .cd-overlay-nav.is-hidden, .cd-overlay-content.is-hidden {
	/* background fades out at the end of the animation */
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
  }
  
  .cd-overlay-nav {
	/* main rounded colored bg 1 */
	z-index: 2;
  }
  .cd-overlay-nav span {
	background-color: #cceaeb;;
  }
  
  .cd-overlay-content {
	/* main rounded colored bg 2 */
	z-index: 4;
  }
  .cd-overlay-content span {
	background-color: #EFEAE7;
  }
  
  .cd-content {
	/* just some dummy content */
	padding: 80px 0;
	width: 90%;
	max-width: 768px;
	margin: 0 auto;
	z-index: 1;
  }
  .cd-content .cd-intro {
	height: 200px;
	padding-top: 4.6em;
  }
  .cd-content h1 {
	text-align: center;
	font-size: 20px;
	font-size: 1.25rem;
  }
  .cd-content p {
	line-height: 1.5;
	color: #a76500;
  }
  @media only screen and (min-width: 768px) {
	.cd-content .cd-intro {
	  height: 250px;
	  padding-top: 6em;
	}
	.cd-content h1 {
	  font-size: 28px;
	  font-size: 1.75rem;
	}
	.cd-content p {
	  font-size: 18px;
	  font-size: 1.125rem;
	  line-height: 1.8;
	}
  }
}
/*--------------------------------------------------------------
# Menu icons
--------------------------------------------------------------*/
.navigation-menu-icon{
	font-size: 3rem;
}
.navigation-menu-icon .icon-regular {
	position: relative;
	display: block;
	border-radius: .5px;
	width: 25px;
	height: 25px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 30%;
		height: 3px;
		width: 100%;
		background: black;
		transition: all .5s;
		outline: none;
		border-radius: inherit;
	}

	&:after {
		bottom: 30%;
		top: auto;
	}
}

//opened-state for x version. Becomes X
.panel-left-toggle.toggled-on .navigation-menu-icon .icon-regular {
	height: 25px;
	width: 25px;
	&:before {
		transform: rotate(45deg);
		top: 45%;
	}

	&:after {
		transform: rotate(-45deg);
		bottom: 42%;
	}
}

