@use "../../sass/resources" as *;

.section-content-block {
  position: relative;
  padding: 0;
  

  & > .container-content {
    z-index: 2;
    position: relative;
    padding-bottom: 30px;

  }
    .container-content.box {
      padding:0 365px;
    }
}

@media (max-width: $media-nav) {
  .section-content-block {
    & > .container-content {
      padding-top: 2rem;
    }
    .container-content.box {
      padding:0 20px;
    }
  }
}
.wp-block-columns {
  margin-bottom: 0;
}