@use "../../sass/resources" as *;

.quote-section {
  padding: 0;
   .quote-container {
	position:relative;
	border-top: 1px solid #BE916B;
	border-bottom: 1px solid #BE916B;
	margin: 0 80px;
  		.quote-text {
			padding: 100px 20%;
			& p {
			line-height: 25px;
			}
		}

		.quote-icon {
			position: absolute;
			width: 122px;
    		height: 78px;
    		top: -24px;
    		right: 80px;
    		z-index: 2;
		}
		
	}
}

@media (max-width:1280px) {
	.quote-section {
		.quote-container {
		
			.quote-text {
				
			}
			
		}
	}
	 
}
@media (max-width: $media-nav) {
	.quote-section {
		.quote-container {
			margin: 0 20px;
			.quote-text {
				padding: 100px 0;
			}
			.quote-icon {
				width: 82px;
				height: 70px;
				top: -18px;
				right: 5%;
			}
			
		}
	}
}