@use "../../sass/resources" as *;

.image-section {
    padding: 0;
    overflow: hidden;
  .image-simple-container {
    display:flex;
	  justify-content: center;
    width: 80%;
    margin: 0 auto;
   
}
}
@media (max-width: $media-container) {
}