@use "../resources"as *;


// tags
.tag {
  font-family: 'Basier-circle-regular';
  font-style: normal;
  font-weight: 400;
  padding: 4px 16px;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  border: 1px solid var(--black);
}