@use "../../sass/resources" as *;

.rich-text-section {
  height: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
  max-width: 100%;
 
}

@media (max-width: $media-container) {
  .rich-text-section { 
      .rich-text {
        & h2 {
          font-size: 5rem;
          line-height: 6rem;
        }
      }
  
    }
}

@media (max-width: $media-tablett) {
  .rich-text-section {
    .rich-text {
        & h2 {
          font-size: 6rem;
          line-height: 7rem;
        }
        & p > span {
          font-size:6rem; 
          line-height: 7rem;
        }

        & span {
          font-size:6rem; 
          line-height: 7rem;
        }
      }
  
    }
}

@media (max-width: $media-large) {
  .rich-text-section {
      .rich-text {
        & h2 {
          font-size: 5rem;
          line-height: 6rem;
        }
        & p > span {
          font-size: 5rem;
          line-height: 6rem;
        }
        
        & span {
          font-size:5rem; 
          line-height: 6rem;
        }
      }
  
    }
}

@media (max-width: $media-medium) {
  .rich-text-section {
      .rich-text {
        & h2 {
          font-size: 4rem;
          line-height: 5rem;
        }
        & p > span {
          font-size: 3rem;
          line-height: 4rem;
        }
        
        & span {
          font-size:3rem; 
          line-height: 4rem;
        }
      }
  
    }
}