@use "../../sass/resources"as *;

.News-section {
  margin-top: 40px;
  margin-bottom: 40px;
  margin: 0 auto;
  width: 1180px;
}
.filter-container {
  width: 1200px;
  height: auto;
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 40px;
}

.filter-item.all.stop,
.filter-item {
  margin-left: 30px;
  border: 1px solid #333333;
  border-radius: 15px;
  display: inline-block;
  padding: 7px 12px 7px 14px;
  cursor: pointer;
  color: #333333;
  background-color: white;
  font-size: 14px;
  text-transform: uppercase;
}
.filter-item.all,
.filter-item.active {
  margin-left: 30px;
  border: 1px solid #333333;
  border-radius: 15px;
  display: inline-block;
  padding: 7px 12px 7px 14px;
  cursor: pointer;
  color: white;
  background-color: #333333;
  font-size: 14px;
  text-transform: uppercase;
}
.News-left {
  width: 500px;
  height: auto;
}
.News-slogan {
  font-family: "Ubuntu";
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 1px solid #000;
}

.News-title {
  margin-top: 10px;
  margin-bottom: 10px;
}
.News-title > a {
  color: black;
  text-decoration: none;
}
.News-button {
  width: 183px;
  height: 48px;
  background-color: var(--red);
  text-align: center;
}

.News-button > a {
  color: white;
  position: relative;
  top: 10px;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.News-container {
  width: 100%;
  height: 215px;
  display: grid;
  grid-template-columns: 125px 20% 1fr auto;
  border-bottom: 1px solid #66666680;
  margin-bottom: 30px;
  padding-top: 20px;
  grid-gap: 15px;
}
.News-date {
  display: inline-block;
  position: relative;
  top: 60px;
  left: 0px;
  font-family: "Ubuntu";
  font-size: 13px;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
.News-date > a {
  color: black;
  text-decoration: none;
}
.News-thumbnail {
  height: 145px;
  position: relative;
}

.News-thumbnail img {
  height: 100%;
  object-fit: cover;
}

.News-tag {
  font-family: "Ubuntu";
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 1px solid #000;
  & > a {
    text-decoration: none;
    color: #333333;
    pointer-events: none;
  }
}

.News-resum {
  font-family: "Ubuntu";
  font-size: 15px;
  line-height: 22px;
}
.News-resum > a {
  color: black;
  text-decoration: none;
}
.news-arrow-link {
  position: relative;
  top: 30%;
  left: 30px;
}

.news-arrow-link > a {
  font-size: 30px;
  color: var(--red);
  text-decoration: none;
}

.icon-news {
  width: 30px;
  height: auto;
  object-fit: cover;
}
.news-dowload-link {
  width: 150px;
  height: 48px;
  background-color: var(--red);
  text-align: center;
  position: relative;
  top: 50px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-top: 10px;
}
.news-dowload-link:hover,
.newsroom-dowload-link:hover {
  background-color: white;
  color: var(--red);
  border: 1px solid rgba(0, 0, 0, 0.397);
}
.newsroom-dowload-link {
  width: 150px;
  height: 48px;
  background-color: var(--red);
  text-align: center;
  position: relative;
  top: 50px;
  margin: 30px auto;
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  display: block;
  padding-top: 10px;
}

.share-title {
  width: 40px;
  height: 170px;
  position: fixed;
  right: 80px;
  top: 75%;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border-left: 1px solid var(--red);
  padding-left: 10px;
}
.share-title-mobile {
  display: none;
}

@media (max-width: 1400px) {
  .essb_links.essb_displayed_bottom.essb_share.essb_content_responsive.essb_template_grey-retina::before {
    content: "PARTAGER";
    font-family: "Ubuntu";
    font-weight: bold;
    border-bottom: 1px solid var(--red);
  }
}
@media (min-width: 1261px) {
  .News-thumbnail img {
    width: 100%;
  }
}

@media (max-width: 1260px) {
  .icon-news {
    width: 30px;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
    display: none;
  }

  .filter-container {
    width: 100%;
    height: auto;
    display: block;
    text-align: left;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 40px;
    padding-top: 20px;
  }
  .filter-item.all {
    margin-left: 10%;
    border-bottom: 1px solid #333333;
    border-top: 0px solid #333333;
    border-left: 0px solid #333333;
    border-right: 0px solid #333333;
    border-radius: 0px;
    display: inline-block;
    padding: 7px 12px 7px 14px;
    cursor: pointer;
    color: #333333 !important;
    font-weight: bold;
    background-color: #ffffff !important;
    font-size: 14px;
    text-transform: uppercase;
    width: 80%;
  }
  .filter-item.all::after {
    content: inline-svg(
      '<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><path d="m7.31 1.621 10 10-10 10" stroke="#333333" fill="none" fill-rule="evenodd"/></svg>'
    );
    position: absolute;
    left: 85%;
    transform: rotate(90deg);
    cursor: pointer;
  }
  .filter-item.all::before {
    content: inline-svg(
      '<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"><g transform="translate(3 4)" stroke="#4A4A4A" stroke-width="2" fill="none" fill-rule="evenodd"><path stroke-linecap="round" d="M3.5 0v16M9.5 0v16M15.5 0v16"/><circle fill="#FFF" cx="3.5" cy="5" r="2.5"/><circle fill="#FFF" cx="9.5" cy="12" r="2.5"/><circle fill="#FFF" cx="15.5" cy="7" r="2.5"/></g></svg>'
    );
    position: relative;
    top: 5px;
    left: -5px;
  }
  .filter-item,
  .filter-item-mecenat,
  .filter-item-recrutement,
  .filter-item-responsable {
    display: none !important;
  }
  .filter-item.open,
  .filter-item-mecenat.open,
  .filter-item-recrutement.open,
  .filter-item-responsable.open {
    display: block !important;
  }
  .filter-item.all.stop,
  .filter-item,
  .filter-item-mecenat,
  .filter-item-recrutement,
  .filter-item-responsable {
    margin-left: 65px;
    border-bottom: 1px solid #333333;
    border-top: 0px solid #333333;
    border-left: 0px solid #333333;
    border-right: 0px solid #333333;
    border-radius: 0px;
    display: inline-block;
    padding: 7px 12px 7px 14px;
    cursor: pointer;
    color: #333333;
    background-color: white;
    font-size: 14px;
    text-transform: uppercase;
    width: 80%;
    font-weight: normal;
  }
  .filter-item.active,
  .filter-item-mecenat.active,
  .filter-item-recrutement.active,
  .filter-item-responsable.active {
    margin-left: 65px;
    border-bottom: 1px solid #333333;
    border-top: 0px solid #333333;
    border-left: 0px solid #333333;
    border-right: 0px solid #333333;
    border-radius: 0px;
    display: inline-block;
    padding: 7px 12px 7px 14px;
    cursor: pointer;
    color: #333333;
    background-color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .News-section {
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 0 auto;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
  }
  .News-container {
    display: block;
    height: auto;
    padding-bottom: 1.5rem;

    .News-date {
      top: 0px;
      margin-bottom: 1rem;
    }

    .News-text-left {
      margin-top: 1.5rem;
    }

    .news-arrow-link {
      display: none;
    }
  }

  .News-thumbnail {
    width: 100%;
    height: auto;
    display: inline-block;
  }

  .News-thumbnail img {
    height: auto;
    object-fit: none;
    width: 100%;
  }

  .share-title {
    display: none;
  }

  .essb_links.essb_displayed_bottom.essb_share.essb_content_responsive.essb_template_grey-retina::before {
    content: "PARTAGER";
    font-family: "Ubuntu";
    font-weight: bold;
    border-bottom: 1px solid var(--red);
  }
  .news-dowload-link {
    width: 150px;
    height: 48px;
    background-color: var(--red);
    text-align: center;
    position: relative;
    top: 0px;
    margin: 10px auto;
  }
  .essb_tablet_hidden {
    display: none !important;
  }
}
