@use "../../sass/resources" as *;

.methodology-section {
    padding: 0;
    overflow: hidden;
    .methodology-container {
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding: 40px;
        .text-container {
            padding: 20px;
        }
        .methodology-accordeon-container {
            .methodology-accordeon-item {
                border-top: 1px solid #BE916B;
                border-bottom: 1px solid #BE916B;
                padding: 15px;
                cursor:pointer;
                .methodology-accordeon-title {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 47px;
                    color: #262626;
                }
                .methodology-accordeon-content > p {
                    padding:10px;
                }
            }
        }
        .methodology-accordeon-container:hover .methodology-accordeon-item:hover .methodology-accordeon-content,
        .methodology-accordeon-container .methodology-accordeon-item--default .methodology-accordeon-content {
            height: 6em;
        }
        .methodology-accordeon-content,
        .methodology-accordeon-container:hover .methodology-accordeon-content {
        height: 0;
        overflow: hidden;
        transition: height 0.5s;
        }
    }
    
}
    
@media  (max-width: $media-large) {
    .methodology-section {
        .methodology-container {
            display:block;
            padding: 20px;
            .text-container {
                padding: 10px 10px 20px 10px;
                & h2 {
                    font-size: 50px;
                }
            }
            .methodology-accordeon-container {
                .methodology-accordeon-item {
                    padding: 15px;
                    .methodology-accordeon-title {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 38px;
                        line-height: 47px;
                        color: #262626;
                    }
                    .methodology-accordeon-content > p {
                        padding:10px;
                    }
                }
            }
            .methodology-accordeon-container:hover .methodology-accordeon-item:hover .methodology-accordeon-content,
            .methodology-accordeon-container .methodology-accordeon-item--default .methodology-accordeon-content {
                height: 6em;
            }
            .methodology-accordeon-content,
            .methodology-accordeon-container:hover .methodology-accordeon-content {
            height: 0;
            overflow: hidden;
            transition: height 0.5s;
            }
        }
        
    }
    }