@use "../../sass/resources" as *;

.intro-1-block  {
	height: 120vh;
	padding: 0;
	overflow: hidden;
  
	.intro-1-wrapper {
	  max-width: 100%;
	  height: 100%;
	  background-size: cover; 
	  background-repeat: no-repeat;
	  background-position: center center;
	  display:flex;
	  justify-content: center;
	  align-items: center;
	  padding: 20px;

		.intro-1-title {
		font-family: 'Basier-circle-regular';
		font-size: 9rem; 
		font-weight: bold;
		line-height: 12rem;
		text-align: center;
		opacity:0
		}
		
		.intro-1-title.active {
			font-family: 'Basier-circle-regular';
			font-size: 9rem; 
			font-weight: bold;
			line-height: 12rem;
			text-align: center;
			opacity:1;
			}
	}
}
@media (max-width: 1440px) {
	.intro-1-block  {
		.intro-1-wrapper {
			.intro-1-title {
			font-size: 6rem; 
			line-height: 8rem;
			}
		}
	}
}
@media (max-width: $media-sidebar) {
	.intro-1-block  {
		.intro-1-wrapper {
			.intro-1-title {
			font-size: 4.2rem; 
			line-height: 6rem;
			}
		}
	}
}

@media (max-width: $media-medium) {
	.intro-1-block  {
		.intro-1-wrapper {
			.intro-1-title {
			font-size: 3.5rem; 
			line-height: 4rem;
			}
		}
	}
}

@media (max-width: $media-small) {
	.intro-1-block  {
		height: 50vh;
		.intro-1-wrapper {
		padding: 5px;
			.intro-1-title {
			font-size: 1.8rem; 
			line-height: 2.7rem;
			margin-top:80px;
			}
		}
	}
}
.splitting .word {
	white-space: nowrap;
}