@font-face {
    font-family: 'Proximanova-regular';
    src: url('proximanova-regular-webfont.woff2') format('woff2'),
        url('proximanova-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: regular;
    font-display: swap;
}